<title>MDP - ABOUT</title>
<h1 class='grey-text text-darken-2'>
  ABOUT
</h1>
<div class='row'>
  <div class='col l4 m5 s12'>
    <img src='images/michael_pierce.jpg' alt='Michael Pierce' class='circle'
         height='200' width='200'>
  </div>
  <div class='col l8 m7 s12'>
    <h4 class='grey-text'>
      Michael Pierce is a web designer and full stack developer from beautiful
      Denver, Colorado. A graduate from Colorado School of Mines holding a B.S.
      in Economics and Business. Michael is a self-taught programmer,
      specializing in UI/UX design, Ruby on Rails, and Angular JS.
    </h4>
  </div>
</div>
