<div class='container'>
  <div class="sqr img_1-1"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
</div>

<style>
.sqr {
  background: #4682b4;
  width: 32%;
  padding-bottom: 32%;
  display: inline-block;
}

.img_1-1{
  background-image:url('/dq.png');
  position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;

background-repeat: no-repeat;
background-size: contain;
}
