<title>The Truth About Masturbation eBook // QUOTES</title>
<center>
  <h1 class='grey-text text-darken-3'>The Truth About Masturbation<br>-Quotes-</h1>
</center>
<br><br>
<div class='row container'>
  <div class='col m6'>
    <h5 class='grey-text text-darken-3'>
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
    </h5>
    <button class='btn waves-effect waves-light blue blue accent-2'>
      Tweet This
    </button><br><br><br><br><br>
  </div>
  <div class='col m6'>
    <h5 class='grey-text text-darken-3'>
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
    </h5>
    <button class='btn waves-effect waves-light blue blue accent-2'>
      Tweet This
    </button><br><br><br><br><br>
  </div>
  <div class='col m6'>
    <h5 class='grey-text text-darken-3'>
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
    </h5>
    <button class='btn waves-effect waves-light blue blue accent-2'>
      Tweet This
    </button><br><br><br><br><br>
  </div>
  <div class='col m6'>
    <h5 class='grey-text text-darken-3'>
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
    </h5>
    <button class='btn waves-effect waves-light blue blue accent-2'>
      Tweet This
    </button><br><br><br><br><br>
  </div>
</div>
