<title>MDP - WORK</title>
<div class='row'>
  <div class='col s12 m6 l4'>
    <div class='card'>
      <div class='card-image waves-effect waves-block waves-light'>
        <img class='activator' style='border-bottom:1px solid #EEEEEE;' src='images/affektive.png'>
      </div>
      <div class='card-content'>
        <span class='activator card-title grey-text text-darken-2'>AFFEKTIVE<i class='mdi-navigation-more-vert right'></i></span>
      </div>
      <div class='card-reveal grey-text'>
        <span class='card-title grey-text text-darken-2'> <i class='mdi-navigation-close right'></i></span>
        <br>
        <h5 class='grey-text text-darken-2'>AFFEKTIVE SOFTWARE LLC</h5>
        <p>Digital consultancy firm.</p>
        <p>
          <i class='mdi-av-web'></i>
          <a href='http://www.affektive.com'>www.Affektive.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class='col s12 m6 l4'>
    <div class='card'>
      <div class='card-image waves-effect waves-block waves-light'>
        <img class='activator' style=' border-bottom:1px solid #EEEEEE;' src='images/autolytx.png'>
      </div>
      <div class='card-content'>
        <span class='card-title activator grey-text text-darken-2'>AUTOLYTX <i class='mdi-navigation-more-vert right'></i></span>
      </div>
      <div class='card-reveal grey-text'>
        <span class='card-title grey-text text-darken-2'><i class='mdi-navigation-close right'></i></span>
        <br>
        <h5 class='grey-text text-darken-2'>AUTOLYTX</h5>
        <p>Predictive ordering algorithm for car dealerships.</p>
        <p>
          <i class='mdi-av-web'></i>
          <a href='http://www.autolytx.com'>www.AutoLytx.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class='col s12 m6 l4'>
    <div class='card'>
      <div class='card-image waves-effect waves-block waves-light'>
        <img class='activator' style=' border-bottom:1px solid #EEEEEE;' src='images/digiquatics.png'>
      </div>
      <div class='card-content'>
        <span class='card-title activator grey-text text-darken-2'>DIGIQUATICS <i class='mdi-navigation-more-vert right'></i></span>
      </div>
      <div class='card-reveal grey-text'>
        <span class='card-title grey-text text-darken-2'><i class='mdi-navigation-close right'></i></span>
        <br>
        <h5 class='grey-text text-darken-2'>DIGIQUATICS</h5>
        <p>Scheduling and data management for commercial pools.</p>
        <p>
          <i class='mdi-av-web'></i>
          <a href='http://www.digiquatics.com'>www.DigiQuatics.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class='col s12 m6 l4'>
    <div class='card'>
      <div class='card-image waves-effect waves-block waves-light'>
        <img class='activator' style=' border-bottom:1px solid #EEEEEE;' src='images/openwatertracker.png'>
      </div>
      <div class='card-content'>
        <span class='card-title activator grey-text text-darken-2'>O.W.T. <i class='mdi-navigation-more-vert right'></i></span>
      </div>
      <div class='card-reveal grey-text'>
        <span class='card-title grey-text text-darken-2'><i class='mdi-navigation-close right'></i></span>
        <br>
        <h5 class='grey-text text-darken-2'>OPEN WATER TRACKER</h5>
        <p>An elegant mobile-web app for managing open water swim. Keep track of swimmers and analytics in real time.</p>
        <p>
          <i class='mdi-av-web'></i>
          <a href='http://www.openwatertracker.com'>www.OpenWaterTracker.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class='col s12 m6 l4'>
    <div class='card'>
      <div class='card-image waves-effect waves-block waves-light'>
        <img class='activator' style=' border-bottom:1px solid #EEEEEE;' src='images/speakerwirecalculator.png'>
      </div>
      <div class='card-content'>
        <span class='card-title activator grey-text text-darken-2'>S.W.C<i class='mdi-navigation-more-vert right'></i></span>
      </div>
      <div class='card-reveal grey-text'>
        <span class='card-title grey-text text-darken-2'><i class='mdi-navigation-close right'></i></span>
        <br>
        <h5 class='grey-text text-darken-2'>SPEAKER WIRE CALCULATOR</h5>
        <p>Speaker Wire Calculator is a web app designed to calculate the optimal gauge of speaker wire or cable needed for a home theater.</p>
        <p></p>
        <p>
          <i class='mdi-av-web'></i>
          <a href='http://www.speakerwirecalculator.com'>www.SpeakerWireCalculator.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class='col s12 m6 l4'>
    <div class='card'>
      <div class='card-image waves-effect waves-block waves-light'>
        <img class='activator' style=' border-bottom:1px solid #EEEEEE;' src='images/weowepro.png'>
      </div>
      <div class='card-content'>
        <span class='card-title activator grey-text text-darken-2'>WEOWEPRO<i class='mdi-navigation-more-vert right'></i></span>
      </div>
      <div class='card-reveal grey-text'>
        <span class='card-title grey-text text-darken-2'><i class='mdi-navigation-close right'></i></span>
        <br>
        <h5 class='grey-text text-darken-2'>WEOWEPRO</h5>
        <p>Paperless "We Owe" form management for automotive dealerships.</p>
        <p>
          <i class='mdi-av-web'></i>
          <a href='http://www.weowepro.com'>www.WeOwePro.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
