<title>The Truth About Masturbation eBook // Get Your Free Chapter</title>
<center><h1 class='grey-text text-darken-3'>ENTER YOUR EMAIL BELOW</h1></center>
<div class='container'>
  <%= form_for Contact.new do |f| %>
    <form>
      <div class='row'>
        <div class='input-field col s12'>
          <%= f.text_field :email %>
          <label for='email'>Enter Your Email Here</label>
        </div>
      </div>
      <button class='btn btn-large waves-effect waves-light blue white-text'>
        Send me my free chapter!
        <i class='mdi-content-send right'></i>
      </button>
    </form>
  <% end %>
</div>
<br><br><br><br><br><br>

<style>
/* label color */
 .input-field label {
   color: #424242 !important;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #424242 !important;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #424242 !important;
   box-shadow: 0 1px 0 0 #424242 !important;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #424242 !important;
   box-shadow: 0 1px 0 0 #424242 !important;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #424242 !important;
   box-shadow: 0 1px 0 0 #424242 !important;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #424242 !important;
 }
</style>
