@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

* {
  font-family: 'Oxygen', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px !important;
  }
}

.header-font {
  font-size:375%;
}

.slider .indicators .indicator-item.active {
  background-color: #2196F3 !important;
}

main {
  flex: 1 0 auto;
}

.footer-fix{
  margin-top:0px !important;
}

/* label color */
 .input-field label {
   color: white !important;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: white !important;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: white !important;
 }
