@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

* {
  font-family: 'Oxygen', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
